

<h1>Reports</h1>
<%= render "reports/viewoptions"%>
</br></br>
<table class='table table-hover'>
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <!-- <th>Address</th> -->
      <th>Vtype</th>
      <th>Investigator id</th>
      <th>Status</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.order(created_at: :desc).each do |report| %>
      <tr>
        <td> <%= link_to report.name, report %></td>
        <td><%= report.email %></td>
        <td><%= report.phone %></td>
        
        <td><%= report.vtype %></td>
        <td><%= report.admin %></td>
        <%if report.status == "pending"%>
          <td> <%= link_to report.status, change_status_report_path(report), class:"btn btn-secondary" %> 


          </td>
        <%elsif report.status == "inprogress"%>
           <td>
            <button type="button" class="btn btn-outline-primary" disabled="true">InProgress</button>
           </td>

         <%elsif report.status == "completed"%>
         <td>
           <button type="button" class="btn btn-success" disabled="true">Completed</button>
         </td>

          <%elsif report.status == "rejected"%>
         <td>
           <button type="button" class="btn btn-success" disabled="true">Rejected</button>
         </td>
        <% end %>
        
       <% if policy(report).destroy? %>
        <td><%= link_to 'Delete', report, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= will_paginate @reports, renderer: BootstrapPagination::Rails %>
<br>