

<div class="jumbotron">
  <h5 class="display-4"> <%= @report.name %> </h5>
  <p class="lead"><%= @report.email %> | <%= @report.phone %></p>
  <p>Address: <%= @report.address %></p>
  <hr class="my-4">
  <p>Reported by a <%= @report.gender %>  <%= @report.reporter %></p>
  <p>Reported a <%= @report.vtype %>: <%= @report.created_at.to_s[0..10] %></p class="btn btn-outline-primary">
  
  <p><%= @report.description %></p>     
  <div>
  <hr class="my-4">
   <%if @report.status == "pending"%>
         <%= link_to @report.status, change_status_report_path(@report), class:"btn btn-secondary" %> 
          
        <%elsif @report.status == "inprogress"%>
         <p>Investigation started: <%= @report.investigation_date.to_s[0..10] %></p>   
         <div>Current Status: 
           <button type="button" class="btn btn-outline-primary" disabled="true">In progress</button>
         </div><br>
         
          <% if policy(@report).completed? %>
           <div>Update Status: 
            <%= link_to "Completed", completed_report_path(@report), class:"btn btn-success" %> 
            <%= link_to "Rejected", rejected_report_path(@report), class:"btn btn-danger" %>
         </div>
          <% end %>
         
            
         <%elsif @report.status == "completed"%>
         <p>Investigation started: <%= @report.investigation_date.to_s[0..10] %></p>   
         <p>Investigation concluded: <%= @report.conclusion_date.to_s[0..10] %></p>   
         <div>Current Status: 
           <button type="button" class="btn btn-success" disabled="true">Completed</button>
         </div><br>

          <%elsif @report.status == "rejected"%>
          <p>Investigation started: <%= @report.investigation_date.to_s[0..10] %></p>   
         <p>Investigation concluded: <%= @report.conclusion_date.to_s[0..10] %></p> 
         <div>Current Status: 
           <button type="button" class="btn btn-success" disabled="true">Rejected</button>
         </div><br>
  
        <% end %>
  </div>
  <br>
   <br>
  <%if @report.images.attached? %>
  <div>Image attachments: </div>
  <hr>
  <% (0...@report.images.count).each do |image| %>
   
      <%= image_tag(@report.images[image], style:' width:250px ; height: auto') %>
    
  <% end %>
  <br>
  <% end %>
  <br>

   <%if @report.videos.attached? %>
  <div>Video attachments: </div>
  <hr>
  <% (0...@report.videos.count).each do |video| %>
   
     <video controls width="auto" height="300">
        <source src="<%= rails_blob_url(@report.videos[video]) %>" type="<%= @report.videos[video].content_type %>"/>
      </video>

     
    
  <% end %>
  <% end %>

  <p class="lead">
    
  </p>
</div>


<%= link_to 'Back', reports_path, class:"btn btn-secondary" %>
